* {
  box-sizing: border-box;
}

#app-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-height: 800px;
}

/* NAV BAR */
.nav-cont {
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(215, 215, 215);
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  box-shadow: rgb(0, 0, 0, .3) 0px 0px 10px 1px;
}

.nav-items-cont {
  display: flex;
  align-items: center;
}

.nav-link-cont {
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.nav-link {
  color: rgb(69, 69, 69);
  margin-left: 5px;
}

#whole-logo {
  width: 100px;
  opacity: .8;
}

#shopping-basket {
  width: 30px;
  opacity: .6;
}

.nav-item-arrow {
  width: 10px;
}

/* HOME */
#home-cont {
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* LACRIME HERO */
#lacrime-hero-mobile-cont {
  display: none;
}

#lacrime-hero-cont {
  margin-top: 11%;
  width: 80%;
  max-height: 60%;
  min-width: 850px;
  display: flex;
}

#lacrime-hero-left-cont {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#lacrime-logo-hero-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

#comin-soon-sticker {
  position: absolute;
  width: 25%;
  left: 0;
  top: -75%;
}

#lacrime-logo-hero {
  width: 70%;
  margin-bottom: 5%;
}

#lacrime-hero-left-cont-inner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
}

#lacrime-hero-by {
  color: grey;
  font-size: 40px;
  margin: 0;
  margin-right: 2%;
}

#whole-logo-hero {
  width: 30%;
  margin-left: 2%;
}

#lacrime-hero-right-cont {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3px solid grey;
}

#serum-bottle-hero {
  width: 40%;
}

#footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  color: grey;
}

@media screen and (max-width: 760px) {

   #lacrime-hero-cont {
    margin-top:35%;
    flex-direction: column-reverse;
    align-items: center;
    min-width: 100%;
   }

   #lacrime-hero-right-cont {
    margin-bottom: 10%;
    border: none;
    border-bottom: 3px solid grey;
    width: 80%;
    padding: 4%;
   }

   #lacrime-hero-left-cont {
    width: 80%;
   }

   #comin-soon-sticker {
    position: absolute;
    width: 20%;
    left: 15%;
    top: -300%;
  }
}
